<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".na\
v-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="#">{{ site.name }}</a>
      <div class="nav-collapse collapse">
        <ul class="nav">
          <li class="active"><a href="/">Home</a></li>
          <li class="active"><a href="/topic1">Topic1</a></li>
          <li class="active"><a href="/topic2">Topic2</a></li>
          <li class="active"><a href="/topic3">Topic3</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
